*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
hs_err_pid*.log
replay_pid*.log
*.hprof
build.txt
build_error.txt
cmd_build.txt
error_utf8.log
